<div data-sly-use.profilepreview="com.flourishtherapy.core.models.ProfilePreview">

<div class="card" style="width: 18rem;">
  <img src="/content/dam/flourishtherapy/assets/img/team/3.jpg" class="card-img-top" alt="doctor1">
  <div class="card-body">
    <h5 class="card-title">${profilepreview.name1}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/content/dam/flourishtherapy/assets/img/team/3.jpg" class="card-img-top" alt="doctor1">
  <div class="card-body">
    <h5 class="card-title">${profilepreview.name2}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/content/dam/flourishtherapy/assets/img/team/3.jpg" class="card-img-top" alt="doctor1">
  <div class="card-body">
    <h5 class="card-title">${profilepreview.name3}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="/content/dam/flourishtherapy/assets/img/team/3.jpg" class="card-img-top" alt="doctor1">
  <div class="card-body">
    <h5 class="card-title">${profilepreview.name4}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>